body {
  text-align: center;
  padding-bottom: 15px;
  color: azure;
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
button {
  color: white;
}
nav {
  max-width: fit-content;
  min-width: 400px;

  padding-left: 30px;
  padding-right: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 2vh;
}

iframe {
  border-radius: 20px;
  width: 450px;
  height: 255px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2vh;
  border: none;
  background: white;
  margin: 0;
}

form button {
  color: #e9056f;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background: #e9056f;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-input {
  flex: 1;
  width: 275px;
  padding: 0.5rem;
  font-size: 2vh;
  margin: 0;
}

.todo li {
  flex: 1;
  width: 250px;
  padding: 0.5rem;
  font-size: 2vh;
  border: none;
  background: white;
  margin: 0;
  align-items: flex-start;
}

.trash-btn,
.complete-btn {
  background: #e9056f;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
/* .complete-btn {
  background: #92e905;
}
*/
.trash-btn {
  background: #e92705;
}
.todo-button {
  color: #e9056f;
}

/* .todo-item {
  padding: 01rem 0.5rem;
} */

.fa-trash,
.fa-check {
  pointer-events: none;
}

fa .nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
}

.logo {
  max-width: 500px;
}

.spacer {
  padding-top: 50px;
}
.btn {
  border: none;
  background: none;
}
.mainBox {
  background-color: hsla(37, 100%, 92%, 0.438);
  padding-bottom: 15px;
  border-radius: 20px;
  max-height: fit;
  min-height: 350px;
  max-width: fit-content;
  min-width: 450px;
  display: inline-block;
}
.taskBox {
  background-color: hsla(37, 100%, 92%, 0.438);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  /* max-height: 30vh; */
  min-height: fit-content;
  max-width: fit-content;
  min-width: 450px;
  display: inline-block;
  margin-bottom: 60px;
}

.btnClass {
  max-width: 150px;
  border: none;
  background: none;
  padding-top: 10px;
}

.Timer {
  display: inline-flexbox;
  justify-content: center;
  font-size: 50px;
}
.instructions {
  list-style: none;
}

.footBar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.socials {
  list-style: none;
  margin: 10px 30px;
  color: rgb(102, 3, 102);
  border: none;
  border-radius: 50%;
  transition: 0.5s;
}

#socialSection {
  list-style: none;
  display: inline-flex;
  padding: 10px 20px;
}

#startBtn {
  border: azure;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  background-color: azure;
  color: #e9056f;
  font-size: 25px;
  text-transform: uppercase;
  display: inline;
}

#pauseBtn {
  border: azure;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  background-color: azure;
  color: #e9056f;
  font-size: 25px;
  text-transform: uppercase;
  display: none;
}
#resumeBtn {
  border: azure;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  background-color: azure;
  color: #e9056f;
  font-size: 25px;
  text-transform: uppercase;
  display: none;
}
#startBtn2 {
  border: azure;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  background-color: azure;
  color: #e9056f;
  font-size: 25px;
  text-transform: uppercase;
  display: none;
}

#PomoSection {
  min-height: 100vh;
  max-height: fit-content;
  background-image: linear-gradient(45deg, #e92705, #b90eb0);
  background-size: 300% 300%;
  animation: Gradient 10s ease infinite;
  display: block;
}

#explainSection {
  background-color: hsl(0, 0%, 100%);
  padding-bottom: 15px;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  color: #e9056f;
}

#explainBox {
  max-width: 500px;
  display: inline-block;
}

#explainTitle {
  margin-left: 20px;
  margin-right: 20px;
}

#navBar {
  padding-top: 50px;
  justify-content: center;
}
