body {
  text-align: center;
  padding-bottom: 15px;
  color: azure;
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
button {
  color: white;
}
nav {
  max-width: fit-content;
  min-width: 400px;

  padding-left: 30px;
  padding-right: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

iframe {
  border-radius: 20px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
}

.logo {
  max-width: 100px;
}

.spacer {
  padding-top: 100px;
}
.btn {
  border: none;
  background: none;
}
.mainBox {
  background-color: hsla(37, 100%, 92%, 0.438);
  padding-bottom: 15px;
  border-radius: 20px;
  max-height: 30vh;
  min-height: 350px;
  max-width: fit-content;
  min-width: 450px;
  display: inline-block;
}
.taskBox {
  background-color: hsla(37, 100%, 92%, 0.438);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  max-height: 30vh;
  min-height: fit-content;
  max-width: fit-content;
  min-width: 450px;
  display: inline-block;
}

.btnClass {
  max-width: 150px;
  border: none;
  background: none;
  padding-top: 10px;
}

.Timer {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-top: 15px;
}
.instructions {
  list-style: none;
}

.footBar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#startBtn {
  border: azure;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  background-color: azure;
  color: #e9056f;
  font-size: 25px;
  text-transform: uppercase;
}
#PomoSection {
  height: 100vh;
  background-image: linear-gradient(45deg, #e92705, #b90eb0);
  background-size: 300% 300%;
  animation: Gradient 10s ease infinite;
}

#explainSection {
  background-color: hsl(0, 0%, 100%);
  padding-bottom: 15px;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  color: #e9056f;
}

#explainBox {
  max-width: 500px;
  display: inline-block;
}

#explainTitle {
  margin-left: 20px;
  margin-right: 20px;
}

/* #navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
